<span><utc-to-local style="display:none" format="@Format" blazor-time-observer="true">@DateTime.ToString("O")</utc-to-local></span>

@code {
  [Parameter]
  public DateTime DateTime { get; set; }

  [Parameter]
  public string Format { get; set; }
}
