@inject IJSRuntime _js;

<span><utc-to-local style="display:none" format="@Format" kind="@DateTime.Kind" utc-offset="@DateTime.ToString("zzz")">@DateTime.ToString("O")</utc-to-local></span>

@code {
  [Parameter]
  public DateTime DateTime { get; set; }

  [Parameter]
  public string Format { get; set; }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    await _js.InvokeVoidAsync("window.blazorTime.updateAllTags");
  }
}
