@page "/TimeSimple"

<p>
  <ToLocal DateTime="testUtcTime" Format="ddd mmm dd yyyy HH:MM:ss"></ToLocal>
  <br />
  <ToLocal DateTime="testServerTime" Format="default"></ToLocal>
</p>

<button @onclick="Update">Update Time</button>

@code { private DateTime testUtcTime = DateTime.UtcNow;
      private DateTime testServerTime = DateTime.Now;

      private void Update()
      {
        testUtcTime = DateTime.UtcNow;
        testServerTime = DateTime.Now;
      } }